// Window
$window-background-color: #282828;
$window-title-bar-gradient-map: (light: #363636, dark: #202020);
$window-title-bar-font-color: #a0a0a0;
$window-title-bar-button-hover-color: #8d8d8d0f;
$window-border-color: #414141;
$selected-window-border-lighten-value: 10;
$selected-window-title-bar-color-lighten-value: 1;
$selected-window-title-bar-font-color-lighten-value: 30;

// Popup
$popup-background-color: #282828;
$popup-border-color: #414141;